<div class=" fixed top-0 z-20 w-full flex flex-row justify-between p-4 border border-b-teal-200 bg-cyan-600">
  <div class="text-white font-semibold">
    <p>Leben In Deutschland Test</p>
  </div>
  <div class="flex flex-row justify-between items-end gap-2 ">
    <a routerLink="/questions" routerLinkActive="text-blue-300">
      <button class="border border-gray-500 bg-gray-600 text-white rounded-lg p-1" routerLinkActive="text-blue-300">Allgemeine Fragen</button>
    </a>
    <a routerLink="/training-menu" routerLinkActive="text-blue-300" >
      <button class="border border-gray-500 bg-gray-600 text-white rounded-lg p-1" routerLinkActive="text-blue-300">Trainieren Sie</button>
    </a>
    <a routerLink="/test" routerLinkActive="text-blue-300" >
      <button class="border border-gray-500 bg-gray-600 text-white  rounded-lg p-1" routerLinkActive="text-blue-300"> Probeprufüng</button>
    </a>
    <a routerLink="/" >
      <div class="text-white p-1 " ><button>Home</button></div>
    </a>
    <a>
      <div class="text-white p-1 " ><button>Settings</button></div>
    </a>
  </div>
</div>
