<div class="fixed top-0 z-20 w-full flex flex-row justify-between items-center gap-4 bg-gray-800">
  <div class="content-center text-white font-semibold md:shrink-0">
    <div class="inline-flex items-baseline text-sm font-light text-white sm:font-light ml-0 md:justify-start ">
      <img class="object-center size-1/12 rounded-full " src="./assets/images/lib-logo.png">
    </div>
  </div>
  <button class="space-y-1 group sm:hidden " [hidden]="isMenuOpen" (click)="toggleMenu()">
    <div class="w-6 h-1 bg-gray-400"></div>
    <div class="w-6 h-1 bg-gray-400"></div>
    <div class="w-6 h-1 bg-gray-400"></div>
  </button>
  <ul [class.hidden]="!isMenuOpen"
      class="sm:hidden bg-gray-800 w-screen pb-1 absolute -top-0 group-focus:top-0 right-0 flex-col space-y-3 justify-end">
    <button class="px-10 py-1 relative ml-auto" (click)="toggleMenu()">
      <div class="w-6 h-1 rotate-45 absolute bg-white" ></div>
      <div class="w-6 h-1 -rotate-45 absolute bg-white"></div>
    </button>
    <li class="flex justify-center w-full text-gray-400" (click)="toggleMenu()">
      <a routerLink="/questions" routerLinkActive="text-orange-300">
        Allgemeine Fragen
      </a>
    </li>
    <li class="flex justify-center w-full text-gray-400" (click)="toggleMenu()">
      <a routerLink="/training-menu" class="rounded-lg p-1 font-normal" routerLinkActive="text-orange-300">
        Trainieren Sie
      </a>
      </li>
    <li class="flex justify-center w-full text-gray-400" (click)="toggleMenu()">
      <a routerLink="/test" class="rounded-lg p-1 font-normal" routerLinkActive="text-orange-300">
        Probeprufüng
      </a>
    </li>
  </ul>
  <div
    class="hidden sm:text-gray-800 lg:flex lg:flex-row lg:justify-between lg:items-end lg:gap-2 lg:text-gray-400 lg:font-light">
    <a routerLink="/questions" class="rounded-lg p-1 font-normal" routerLinkActive="text-orange-300">
      Allgemeine Fragen
    </a>
    <a routerLink="/training-menu" class="rounded-lg p-1 font-normal" routerLinkActive="text-orange-300">
      Trainieren Sie
    </a>
    <a routerLink="/test" class="rounded-lg p-1 font-normal" routerLinkActive="text-orange-300">
      Probeprufüng
    </a>
  </div>


  <div class="flex flex-row justify-between items-end gap-2 text-gray-400">
    <a routerLink="/" class="p-1 font-extrabold" routerLinkActive="text-orange-300" [routerLinkActiveOptions]="{ exact: true }">
      Startseite
    </a>
    <a routerLink="/settings" class="p-1 font-extrabold text-gray-400 mr-2" routerLinkActive="text-orange-300" >
      Einstellungen
    </a>
  </div>
</div>
