<div class="fixed top-0 z-20 w-full flex flex-row justify-between items-center border bg-gray-800 rounded-md">
  <div class="content-center text-white font-semibold">
    <div class="inline-flex items-baseline text-sm font-light text-white sm:font-light ml-0 md:justify-start">
      <img class="object-center size-1/4 rounded-full sm:size-1/6" src="./assets/images/lib-logo.png">
    </div>
  </div>
  <div class=" text-gray-800 sm:flex sm:flex-row sm:justify-between sm:items-end sm:gap-2 sm:text-orange-300 sm:font-light">
    <a routerLink="/questions" class="rounded-lg p-1 font-normal" routerLinkActive="text-white" >
     Allgemeine Fragen
    </a>
    <a routerLink="/training-menu" class="rounded-lg p-1 font-normal" routerLinkActive="text-white" >
      Trainieren Sie
    </a>
    <a routerLink="/test" class="rounded-lg p-1 font-normal" routerLinkActive="text-white">
      Probeprufüng
    </a>
  </div>
  <div class="flex flex-row justify-between items-end gap-2 text-orange-400">
    <a routerLink="/" class="p-1 font-extrabold" routerLinkActive="text-white" [routerLinkActiveOptions]="{ exact: true }">
      Startseite
    </a>
    <a routerLink="/settings" class="p-1 font-extrabold text-white" routerLinkActive="text-white" >
      Einstellungen
    </a>
  </div>
</div>
