
<div class="flex flex-col justify-center items-center mt-20">
  <h2 class="text-xl font-semibold">Probeprüfung Fragen</h2>
</div>
<div class="flex flex-col mt-2 justify-start items-start z-20 mb-28">
  <div class="flex flex-col justify-center items-start mt-1 mb-2 px-14"
    *ngFor="let data of testQuestions; let i = index">
      <div class="m-2 font-medium mt-8">
        <h1> Frage-{{i +1}}: {{data.question}}</h1>
      </div>
      @if(data.hasPhoto){
        <div class="flex justify-center items-center" >
          <img src="../../../assets/images/{{data.id}}.png" alt="image">
        </div>
      }
      <div class="flex flex-col"
           *ngFor="let answer of data.answers ; let j = index">
        <div class="inline-flex items-center">
          <span
            class="relative flex cursor-pointer items-center rounded-full p-1.5"
            data-ripple-dark="true"
          >
            <input
              type="radio"
              class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-gray-400 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-pink-500 checked:bg-pink-500 checked:before:bg-pink-500 hover:before:opacity-10"
              [id]="'option'+j"
              [name]="'answer' + data.id"
              [value]="answer + j"
              [checked]="userAnswers[i] !==- 1 && j === data.correctAnswerIndex"
              disabled

            />
            <div class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3.5 w-3.5"
                viewBox="0 0 20 20"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="1"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
          </span>
          <label
            class="mt-px cursor-pointer select-none font-normal text-gray-700" [for]="'option'+j"
            [ngClass]="{
            'bg-green-100': userAnswers[i] === j && j === data.correctAnswerIndex,
            'bg-green-200': j === data.correctAnswerIndex,
            'bg-red-300': userAnswers[i] === j && j !== data.correctAnswerIndex,
             'bg-yellow-100': userAnswers[i] === -1 && j === data.correctAnswerIndex}"
            >{{answer}}</label>
        </div>
      </div>
  </div>
</div>

