<div class="flex flex-col justify-center z-20 mb-36 mt-36">
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-row justify-center items-center gap-0.5 md:gap-2 m-2">
      <label class="flex flex-row justify-center items-center border border-indigo-300 bg-blue-300  px-3 py-1.5 rounded-md h-20 w-32 sm:w-52 hover:bg-blue-200">
        <div
          class="mr-0.5 sm:mr-2 h-0 w-0 border-x-8 border-x-transparent border-b-[16px] border-b-blue-600 rotate-[-90deg]"
        ></div>
        <button class=" font-bold text-[0.7rem] sm:text-lg text-blue-700 break-words "
                (click)="onBackTheme(themes[currentThemeIndex])"
                [disabled]="currentThemeIndex < 0">{{ themes[currentThemeIndex] }}
        </button>
      </label>
      <label class="flex flex-col justify-center items-center border border-indigo-300 bg-blue-300  px-3 py-1.5 rounded-md h-20 w-32 sm:w-52">
        <button
          class="text-red-700 font-bold text-xs sm:text-lg  whitespace-normal break-words leading-tight ">{{ themes[currentThemeIndex + 1] }}
        </button>
      </label>
      <label class="flex flex-row justify-center items-center border border-indigo-300 bg-blue-300 px-3 py-1.5 rounded-md h-20 w-32 sm:w-52 hover:bg-blue-200">
        <button
          class="font-bold text-[0.7rem] sm:text-lg text-blue-700  whitespace-normal break-words leading-tight"
          (click)="onNextTheme(themes[currentThemeIndex + 2])"
          [disabled]="currentThemeIndex + 2 >= themes.length">{{ themes[currentThemeIndex + 2] }}
        </button>
        <div
          class="ml-0.5 sm:ml-2 h-0 w-0 border-x-8 border-x-transparent border-b-[16px] border-b-blue-600 rotate-90"
        ></div>
      </label>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center mt-8 sm:pl-16">
    <div>
      <h2 class="font-semibold text-2xl">Thema: {{ initialTheme }}</h2>
    </div>
  </div>

  <div class="flex flex-col justify-start items-start mt-1 mb-2 pl-4 sm:pl-16"
       *ngFor="let data of selectedThemeQuestions; let i = index">
    <div class="m-2 font-medium mt-8">
      <h1> Frage-{{ i + 1 }}: {{ data.question }}</h1>
    </div>
    @if (data.hasPhoto) {
      <div class="flex justify-center items-center object-cover">
        <img src="../../../assets/images/{{data.id}}.png" alt="image">
      </div>
    }
    <div class="flex flex-col"
         *ngFor="let answer of data.answers ; let i = index">
      <div class="inline-flex items-center">
          <span
            class="relative flex cursor-pointer items-center rounded-full p-1.5"
            data-ripple-dark="true"
          >
            <input
              type="radio"
              class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-gray-400 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:bg-green-800 checked:before:bg-green-800 hover:before:opacity-10"
              name="options"
              [id]="'option'+i"
              [name]="'answer' + data.id"
              [value]="answer + i"
              [checked]="i === data.correctAnswerIndex"

            />
            <div
              class="pointer-events-none absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3.5 w-3.5"
                viewBox="0 0 20 20"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="1"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
          </span>
        <label class="mt-px cursor-pointer select-none font-normal text-gray-700"
               [for]="'option'+i">{{ answer }}</label>
      </div>
    </div>
  </div>
</div>
