
<div class="flex flex-col mt-20 justify-center items-center z-20">
  <div class="flex flex-col">
    <h2 class="flex justify-center font-extrabold bg-yellow-200 p-4 rounded">Willkommen Leben in Deutschland Test App! </h2>
    <!--        <img class="items-center" src="./assets/images/logo.jpg">-->
    <h3 class="font-bold flex justify-center mt-2" >Bitte wählen Sie Ihr Bundesland aus</h3><br>
    <div class="flex flex-row">
      <div class="flex flex-col">
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded" (click)="Onclick()">Baden-Württemberg</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">Bayern</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">Berlin</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">Brandenburg</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">Bremen</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">Hamburg</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">Hessen</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">Mecklenburg-Vorpommern</button>
      </div>
      <div class="flex flex-col">
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Niedersachsen</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Nordrhein-Westfalen</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Rheinland-Pfalz</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Saarland</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Sachsen</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Sachsen-Anhalt</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Schleswig-Holstein</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 m-2 border-b-4 border-cyan-700 hover:border-cyan-500 rounded">Thüringen</button>
      </div>
    </div>
  </div>
</div>
