<div class="flex flex-col items-center justify-center mt-36 z-20">
  <div class="flex flex-col items-center justify-center">
    <div class="flex items-center justify-center">
      <img class="object-center rounded-3xl" src="../../../assets/images/lebenin.png">
    </div>
    <a class="flex items-center justify-center" routerLink="/questions">
      <button type="button" class="text-white bg-orange-500 font-medium rounded-full text-center px-4 py-2.5 mb-4 mt-8 hover:bg-orange-900" >Allgemeine Fragen (310)</button>
    </a>
    <a class="flex items-center justify-center" routerLink="/training-menu" >
      <button type="button" class="text-white bg-red-700 font-medium rounded-full text-center px-14 py-2.5 hover:bg-red-900" >Trainieren Sie</button>
    </a>
    <a class="flex items-center justify-center" routerLink="/test">
      <button type="button" class="text-white bg-slate-800 font-medium rounded-full text-center px-10 py-2.5 mb-4 mt-4 hover:bg-black" >Probeprüfung (33)</button>
    </a>
  </div>
</div>
