
<div class="flex flex-col mt-10 justify-center items-center z-20">
  <div class="flex flex-col">
    <h2 class="flex justify-center font-semibold bg-yellow-200 text-rose-700 p-2 rounded">Willkommen Leben in Deutschland Test App! </h2>
    <!--        <img class="items-center" src="./assets/images/logo.jpg">-->
    <h3 class="font-bold flex justify-center mt-4" >Bitte wählen Sie Ihr Bundesland aus</h3><br>
    <div class="flex flex-row">
      <div class="flex flex-col">
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 border-b-4 border-blue-700 hover:border-blue-700 hover:text-white rounded" dialogClose (click)="selectBundesland('1')">Baden-Württemberg</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 border-b-4 border-blue-700 hover:border-blue-500 hover:text-white rounded" dialogClose (click)="selectBundesland('2')">Bayern</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 border-b-4 border-blue-700 hover:border-blue-500 hover:text-white rounded" dialogClose (click)="selectBundesland('3')">Berlin</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 border-b-4 border-blue-700 hover:border-blue-500 hover:text-white rounded" dialogClose (click)="selectBundesland('4')">Brandenburg</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 border-b-4 border-blue-700 hover:border-blue-500 hover:text-white rounded" dialogClose (click)="selectBundesland('5')">Bremen</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 border-b-4 border-blue-700 hover:border-blue-500 hover:text-white rounded" dialogClose (click)="selectBundesland('6')">Hamburg</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 border-b-4 border-blue-700 hover:border-blue-500 hover:text-white rounded" dialogClose (click)="selectBundesland('7')">Hessen</button>
        <button class="bg-blue-500 hover:bg-blue-400 text-amber-300 font-bold py-2 px-4 m-1 mb-2 border-b-4 border-blue-700 hover:border-blue-500 hover:text-white rounded" dialogClose (click)="selectBundesland('8')">Mecklenburg-Vorpommern</button>
      </div>
      <div class="flex flex-col">
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('9')">Niedersachsen</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('10')">Nordrhein-Westfalen</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('11')">Rheinland-Pfalz</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('12')">Saarland</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('13')">Sachsen</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('14')">Sachsen-Anhalt</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('15')">Schleswig-Holstein</button>
        <button class="bg-cyan-500 hover:bg-cyan-400 font-bold py-2 px-4 m-1 mb-2 border-b-4 border-cyan-700 hover:border-cyan-500 hover:text-white rounded" dialogClose (click)="selectBundesland('16')">Thüringen</button>
      </div>
    </div>
  </div>
</div>
