<div class="border shadow relative rounded-lg">
  <div class="p-6 pt-0 text-center" dialogClose>
    <svg class="w-20 h-20 text-red-600 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <h3 class="text-xl font-normal text-gray-800 mt-5 mb-6">Sind Sie sicher, dass Sie Ihre gesamte Arbeit löschen
      wollen?</h3>
    <button
      class="text-white bg-red-600 hover:bg-red-800 font-medium rounded-lg text-base items-center px-3 py-2.5 text-center mr-2"
      (click)="onReset()">
      Ja, ich bin sicher
    </button>
    <button
      class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-400 font-medium items-center rounded-lg text-base px-3 py-2.5 text-center"
    (click)="onSettings()">
      Nein, abbrechen
    </button>
  </div>
</div>
